/* body{
    background-color: aqua;
} 속성 선택자  */

/*div 요소 중 name 속성 값이 "name1"과 일치하는 요소 */
div[name=name1]{
    background-color: crimson;
}
/* div 요소 중 name 속성 값에 "name1"이 포함되어 있는 요소(키워드 x) */
div[name~="name1"]{
    background-color: blue;
}
/* div 요소 중 class 속성 값이 "class"로 시작하는 요소(단어, -로 구분) */
div[class|=class]{
    background-color: plum;
}

/* div 요소 중 name 속성 값이 "na"로 시작하는 요소 */

div[name^=na]{
background-color: beige;
}

/* div 요소 중 class 속성 값이 "ss"로 끝나는 요소 */
div[class$=ss]{
    background-color: aliceblue;
}

/* div 요소 중 class 속성 값에 "i"가 포함된 요소 */
div[class*=i]{
    background-color: darkred;
    color: hotpink;
}

/* Q. class 속성 값이 div-class인 요소 중에 name 속성 값에 name3이 포함되어 있는 요소
배경을 pink로  */

.div-class[name~=name3]{
    background-color: pink;
}
/* 
    자손 선택자와 후손 선택자 
    a > b a 요소의 자손 요소 중 b 요소만 전부 선택 

    아이디가 parent인 요소의 자손들 중 h4 요소만 선택*/ 

#parent > h4{
    background-color: brown;
}
/* 아이디가 parent인 요소의 모든 자손 선택 */
#parent > *{color: hotpink; }

/* 아이디가 parent인 요소의 자손 중 ul 요소의 자손 중 li 요소 선택 */
#parent > ul > li {color: chocolate;}

/* 아이디가 parent인 요소의 후손들의 배경색을 변경 */

#parent * {background-color: chartreuse; color: aquamarine;}

/* 아이디가 parent인 요소의 후손 중 li 요소만 선택 */

#parent li{color: blue;}


/*----------------------동위 선택자------------------------ */
/* a + b : a 요소 바로 뒤에 오는 b 요소 하나 */
#sibling + div {background-color: dimgray;}

/* a ~ b : a 요소와 같은 레벨에 있는 모든 b 요소 */
#sibling ~ ul {background-color: tomato;}

div + ul{
    background-color: blue;
}

/* --- 반응 선택자------------------------------------------------ */
.area{
    background-color: yellowgreen;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#active-test:active{
    background-color: red;
    color: white;
}

#hover-test:hover{
    background-color: royalblue;
    color: white;
}

/* --- 상태 선택자----- */
/* input 요소의 type 속성의 값이 checkbox인 요소 중 체크된 상태의 요소*/

input[type=checkbox]:checked{
   width: 30px;
   height: 30px;  
}

input[type=checkbox]:checked+label{
    font-size: 30px;
}
/* input 요소 중 name 속성의 값이 user로 시작하는 경우 */

input[name^=user]:focus{
    background-color: olive;
    color: white;
}

button:enabled{
    background-color: coral;
}
button:disabled{
    background-color: darkred;
    opacity: 0.1; 
    color:white;

/* 불투명도 설정. (1: 불투명-> 선명하게 표현, 0~1 :0으로 갈수록 투명해짐 ) 0: 없어짐 */


}
